.musicContainer{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.musicPlayer{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(160deg, #000000, #3e93b7);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #007bff;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.musicPlayer h1{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}
.musicPlayer p{
    font-size: 22px;
    color: #fff;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #007bff;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #007bff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #007bff;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #007bff;
    color: #fff;
}
.playlist-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.playlist-dropdown.show {
    display: block;
}

.playlist-item {
    padding: 10px;
    cursor: pointer;
}

.playlist-item:hover {
    background: #f0f0f0;
}
